body{
    height: auto;
    width: auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
}
#JanitorExpressMainLogo{
    height:140px;
    width: 200px;
    margin-top:0px;
}
#parallaxLogo{
    height:200px;
    width: 200px
}
#parallaxText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-family: 'Open Sans', sans-serif;
  }
.sidenav{
    background-color: #0e1438
    !important;
    color: white
    !important;
    font-weight: bold
    !important;
}
.navLink{
    color: white
    !important;
    font-weight: bold
    !important;
}
.normalHeader{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}
.dropdown-content{
    top:60px
    !important;
    background-color:#0e1438
    !important;
    position:20px
    !important;
    width:200px
    !important;
}
#greetingParagraph{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 0px
}
#paragraph{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
#serviceArea{
    background-color:#ebedfa;
    margin-bottom: 0px
    !important;
}
.services{
    font-size:35px;
    text-align: center;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    height:500px;
}
.nav-wrapper{
    background-color: #0e1438
}

#mainHeader{
    text-align: center;
    font-weight: bold;
    font-size: 80px;

}
#subjectCarpet{
    height:400px;
    width: 300px;
    border-radius: 20px;
}
#subjectFloor{
    height:410px;
    width: 300px;
    border-radius: 20px;
}
#subjectWax{
    height:373px;
    width: 300px;
    border-radius: 20px;
}
#subjectGrout{
    height:400px;
    width: 300px;
    border-radius: 20px;
}
.footer-copyright{
    text-align: center
}
.footerText{
    color:white
}
.footerText:hover{
    text-decoration: underline
}
footer{
    background-color: #0e1438
    !important;
}
#hotelImage{
    height:200px;
    width:250px;
}
@media only screen and (max-width: 360px) {
    .services{
        width: 360px;
    }
  }